{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
        <div class="card-body">
        <h3>
            Instruksi
        </h3>

        <p>
            Dalam eksperimen ini, anda akan berada di dalam kelompok dengan jumlah pemain
            {{ Constants.players_per_group }} orang. Setiap pemain dalam kelompok memiliki poin
            {{ Constants.endowment_high }}. Masing-masing kelompok memiliki proyek bersama yang dinikmati oleh
            semua anggota di dalam kelompok. Seluruh pemain dalam kelompok memilih poin yang akan dikontribusikan ke
            dalam proyek bersama. Pilihan kontribusi dalam permainan ini yakni {{ Constants.strategy_space }} persen
            dari poin awal. Anda memiliki waktu 30 detik untuk menentukan kontribusi, apabila waktu habis, maka pilihan
            anda merupakan hasil acak dari sistem komputer. Jumlah semua kontribusi dari masing-masing pemain disebut
            dengan <strong>total kontribusi.</strong> Sedangkan <strong>proyek bersama</strong> adalah
            nilai total kontribusi dikalikan sebuah faktor bernilai {{ subsession.multiplier }}.
        </p>
        <p>
            Setelah tahap kontribusi, akan ada randomisasi untuk satu pemain dari setiap kelompok.
            Permain ini memiliki kesempatan untuk menentukan nilai total kontribusi yang akan diambil
            dan menentukan tawaran sejumlah bagian dari total kontribusi yang sudah diambil untuk pihak ketiga. Pihak ketiga
            berasal dari luar permainan. Waktu untuk menentukan nilai total kontribusi yang diambil adalah 30 detik.
            Apabila waktu sudah habis, maka tidak ada pengambilan total kontribusi. Apabila pihak ketiga menerima bagian
            yang ditawarkan maka pendapatan pemain pertama adalah jumlah dari<strong> poin yang tidak dikontribusikan
            untuk proyek bersama, selisih antara total kontribusi yang dikurangi dan bagian untuk pihak ketiga</strong>, dan
            <strong> terakhir adalah proyek bersama yang sudah dikurangi</strong>. Sebaliknya apabila pihak ketiga menolak
            tawaran dari pemain pertama maka pendapatan akhir masing-masing pemain adalah jumlah dari sisa <strong>poin
            yang tidak dikontribusikan</strong> dan<strong> proyek bersama</strong>.
        </p>
        <p>
            Berikut adalah contoh ketika masing-masing pemain berkontribusi 100 poin dari 200 poin yang mereka punya,
            dengan asumsi pemain A memiliki kesempatan untuk mengambil seluruh/sebagian dari total kontribusi. Sisa
            poin yang tidak digunakan untuk kontribusi adalah 100 poin. Total kontribusi ketiga pemain adalah 3 x 100 yakni 300 poin.
            Apabila pemain A mengambil 200 poin dan membagikannya kepada pihak ketiga sebesar 50 poin maka sisa total
            kontribusi adalah 100 poin (300 - 200) dan tambahan pendapatan untuk pemain A adalah 150 poin (200 - 50). Nilai proyek bersama adalah
            100 dikalikan dengan {{ subsession.multiplier }} yakni 150, sehingga masing-masing pemain mendapatkan 50
            poin (150/3). Apabila pemain A tidak mengambil total kontribusi maka nilai proyek bersama adalah
            300 dikalikan {{ subsession.multiplier }} yakni 450, sehingga masing-masing pemain mendapatkan 150 poin
            (450/3). Berikut adalah pendapatan akhir masing-masing pemain dengan asumsi pihak ketiga menerima tawaran
            dari pemain A.
        </p>
            <table style="width:100%">
                <tr>
                    <th>/--\</th>
                    <th>Pendapatan Pemain A</th>
                    <th>Pendapatan Pemain B</th>
                    <th>Pendapatan Pemain C</th>
                </tr>
                <tr>
                    <td>Apabila <strong>A</strong> mengambil 200 poin</td>
                    <td>100 + 150 + 50 = 300 poin</td>
                    <td>100 + 50 = 150 poin</td>
                    <td>100 + 50 = 150 poin</td>
                </tr>
                <tr>
                    <td>Apabila <strong>A</strong> tidak mengambil poin</td>
                    <td>100 + 150 = 250 poin</td>
                    <td>100 + 150 = 250 poin</td>
                    <td>100 + 150 = 250 poin</td>
                </tr>
            </table>
        </div>

    </div>

{% endblock %}