{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pengantar - Eksperimen Bagian 2
{% endblock %}

{% block content %}
    Silakan menyimak instruksi di bawah ini sebelum memulai permainan. Anda juga dapat mengakses instruksi ini di dalam permainan.
    <br>
    <br>
    {% include Constants.instructions_template %}

    Jika Anda sudah merasa benar-benar paham atas instruksi tersebut, silakan klik 'lanjut'.
    <br>
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}
