{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pengantar - Eksperimen Bagian 2
{% endblock %}

{% block content %}
    Selamat datang di bagian kedua dari eksperimen ini. Anda akan memainkan bagian kedua permainan ini sebanyak
    <b>{{ Constants.num_rounds }} ronde</b>. Sebelumnya,
    anda akan mendapatkan kesempatan untuk <i>berlatih</i> sebanyak <b>{{ num_training_rounds }}</b> kali untuk memahami bagaimana
    permainan ini bekerja. Permainan di bagian kedua sedikit berbeda dengan bagian pertama.
    <br>
    <br>
    Silakan menunggu sejenak. Anda akan segera mendapatkan video terkait instruksi permainan di bagian kedua ini.
    <br>
    <br>


{% endblock %}
