{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Inisiasi
{% endblock %}

{% block content %}
<style>
h4 {text-align: justify;}
p {text-align: justify;}
div {text-align: justify;}
.otree-body {max-width:1200px}
.debug-info{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
</style>
<p>
    Anda akan masuk ke dalam permainan ketika mengklik tombol di bawah. Tekan jika sudah siap.
</p>
<button id="lanjut" disabled="disabled" class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut ke Latihan</button>
{% endblock %}

{% block scripts %}
{% endblock %}


