{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if round == 0 %}
    Blok 1 - Ronde Latihan
    {% else %}
    Blok 1 - Ronde riil ke-<b>{{round}}</b>
    {% endif %}
{% endblock %}

{% block content %}
<style>
h4 {text-align: justify;}
p {text-align: justify;}
div {text-align: justify;}
.otree-body {max-width:1200px}
</style>
<p>
  Anda memiliki <b>{{ endowment }}</b> token yang dapat Anda alokasikan untuk mendapatkan {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A atau tetap menyimpannya.
Jika Anda mengalokasikan token ke {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A, maka Anda akan memiliki peluang untuk mendapatkan imbalan sebesar <b>{{ x1G }}</b>
kali lipat atau <b>{{ x2G }}</b> kali lipat dari jumlah token yang Anda alokasikan. Kedua imbalan tersebut akan Anda dapatkan
pada <b>{{ t1G }}</b> bulan dan <b>{{ t2G }}</b> bulan kemudian. Jika Anda memilih untuk menyimpan token Anda, maka token tersebut akan ditukarkan
dengan uang secara langsung hari ini.
</p>
<br>
<p>
  {% if treatment_group == 1 %}
  {% elif treatment_group == 2 %}
  <b>Barang A</b> merupakan barang ramah lingkungan yang diproduksi dengan menggunakan konsep 3R (Reduce-Reuse-Recycle) dan juga
  meminimalisir penggunaan bahan-bahan kimia yang dapat merusak lingkungan.
  {% elif treatment_group == 3 %}
  <b>Barang A</b> merupakan barang ramah lingkungan yang diproduksi dengan menggunakan konsep 3R (Reduce-Reuse-Recycle) dan juga
  meminimalisir penggunaan bahan-bahan kimia yang dapat merusak lingkungan. Oleh karenanya kami menyarankan Anda untuk
  mengalokasikan lebih banyak token pada <b>Barang A</b>. Anda adalah bagian dari kampanye kami dalam mengimplementasikan konsep
  3R (Reduce-Reuse-Recycle) dan berkontribusi untuk membuat kota Jogja tercinta ini menjadi lebih baik di masa depan.
  Namun demikian, pilihan ada di tangan Anda.
  {% else %}
  <b>Barang A</b> merupakan barang ramah lingkungan yang diproduksi dengan menggunakan konsep 3R (Reduce-Reuse-Recycle) dan juga
  meminimalisir penggunaan bahan-bahan kimia yang dapat merusak lingkungan. Oleh karenanya kami menyarankan Anda untuk
  mengalokasikan lebih banyak token pada <b>Barang A</b>. Anda adalah bagian dari kampanye kami dalam mengimplementasikan konsep
  3R (Reduce-Reuse-Recycle) dan berkontribusi untuk membuat lingkungan kita lebih baik di masa depan.
  Namun demikian, pilihan ada di tangan Anda.
  {% endif %}
</p>

<br>
<br>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0; margin-left:auto; margin-right:auto}
.tg td{border-color:black;border-style:solid;border-width:1px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:center}
.tg .tg-0lax{text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined; table-layout: fixed; width: 1200px" align="left">
<colgroup>
<col style="width: 54px">
<col style="width: 410px">
<col style="width: 150px">
<col style="width: 150px">
<col style="width: 436px">
</colgroup>
<thead>
  <tr>
    <th class="tg-baqh">Nomor</th>
    <th class="tg-baqh">{% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A</th>
    <th class="tg-baqh">Alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A</th>
    <th class="tg-baqh">Token Yang Disimpan</th>
    {% if treatment_group == 3 or treatment_group == 4 %}
    <th class="tg-0lax" rowspan="12">
        <img src='{% static random_image_url %}' alt='Snow' style='width:100%'/>
    </th>
    {% else %}
    {% endif %}

  </tr>
  <tr>
    <td class="tg-baqh">1</td>
    <td class="tg-baqh">Dengan pasti mendapatkan <font color="red"><b>{{ x1G }}</b></font> kali lipat alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a1 %}</td>
    <td class="tg-baqh"><p id='remainder_1'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">2</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.9</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan, <br>
      Memiliki peluang <b>0.1</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a2 %}</td>
    <td class="tg-baqh"><p id='remainder_2'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">3</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.8</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.2</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a3 %}</td>
    <td class="tg-baqh"><p id='remainder_3'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">4</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.7</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.3</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a4 %}</td>
    <td class="tg-baqh"><p id='remainder_4'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">5</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.6</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.4</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a5 %}</td>
    <td class="tg-baqh"><p id='remainder_5'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">6</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.5</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.5</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td><td class="tg-baqh">{% formfield player.a6 %}</td>
    <td class="tg-baqh"><p id='remainder_6'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">7</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.4</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.6</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td><td class="tg-baqh">{% formfield player.a7 %}</td>
    <td class="tg-baqh"><p id='remainder_7'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">8</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.3</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.7</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td><td class="tg-baqh">{% formfield player.a8 %}</td>
    <td class="tg-baqh"><p id='remainder_8'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">9</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.2</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.8</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td><td class="tg-baqh">{% formfield player.a9 %}</td>
    <td class="tg-baqh"><p id='remainder_9'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">10</td>
    <td class="tg-baqh">
      Memiliki peluang <b>0.1</b> untuk mendapat <font color="red"><b>{{ x1G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t1G }}</b></font> bulan ke depan,<br>
      Memiliki peluang <b>0.9</b> untuk mendapat <font color="red"><b>{{ x2G }}</b></font> kali lipat dari alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td><td class="tg-baqh">{% formfield player.a10 %}</td>
    <td class="tg-baqh"><p id='remainder_10'>25</p></td>
  </tr>
  <tr>
    <td class="tg-baqh">11</td>
    <td class="tg-baqh">Dengan pasti mendapatkan <font color="red"><b>{{ x2G }}</b></font> kali lipat alokasi di {% if treatment_group == 1 %}Opsi{% else %}Barang{% endif %} A pada <font color="red"><b>{{ t2G }}</b></font> bulan ke depan</td>
    <td class="tg-baqh">{% formfield player.a11 %}</td>
    <td class="tg-baqh"><p id='remainder_11'>25</p></td>
  </tr>
</thead>
</table>



<br>
<br>
<br>
Tekan tombol berikut jika sudah yakin dengan jawaban Anda. Setelah Anda menekan tombol "Lanjut ke halaman berikutnya", Anda
tidak dapat mengubah pilihan Anda pada ronde ini.
<br>
<br>

<p>
  Anda dapat melanjutkan ke halaman berikutnya setelah <span id="countdown"><b>{{pagehold_timer}}</b></span> detik. Sembari menunggu, pastikan
  kembali keputusan Anda benar-benar sesuai dengan keinginan Anda.
</p>
<div class="btn-group">
  <button id="lanjut" disabled="disabled" class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut ke halaman berikutnya</button>
  <button id="reset" type="reset" class="otree-btn-next btn-primary btn" style="background-color:red">Reset</button>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    setTimeout(function() {
        document.getElementById('lanjut').disabled = false;
    }, <b>{{pagehold_timer_ths}}</b>);
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);

    $("#id_a1").focusout(function() {
      $("#remainder_1").html("");
        let x = <b>{{ endowment }}</b>;
        var num1 = $("#id_a1").val();
        var y = x - num1;
      $("#remainder_1").html(y);
    });

    $("#id_a2").focusout(function() {
      $("#remainder_2").html("");
        let x = <b>{{ endowment }}</b>;
        var num2 = $("#id_a2").val();
        var y = x - num2;
      $("#remainder_2").html(y);
    });

    $("#id_a3").focusout(function() {
      $("#remainder_3").html("");
        let x = <b>{{ endowment }}</b>;
        var num3 = $("#id_a3").val();
        var y = x - num3;
      $("#remainder_3").html(y);
    });

    $("#id_a4").focusout(function() {
      $("#remainder_4").html("");
        let x = <b>{{ endowment }}</b>;
        var num4 = $("#id_a4").val();
        var y = x - num4;
      $("#remainder_4").html(y);
    });

    $("#id_a5").focusout(function() {
      $("#remainder_5").html("");
        let x = <b>{{ endowment }}</b>;
        var num5 = $("#id_a5").val();
        var y = x - num5;
      $("#remainder_5").html(y);
    });

    $("#id_a6").focusout(function() {
      $("#remainder_6").html("");
        let x = <b>{{ endowment }}</b>;
        var num6 = $("#id_a6").val();
        var y = x - num6;
      $("#remainder_6").html(y);
    });

    $("#id_a7").focusout(function() {
      $("#remainder_7").html("");
        let x = <b>{{ endowment }}</b>;
        var num7 = $("#id_a7").val();
        var y = x - num7;
      $("#remainder_7").html(y);
    });

    $("#id_a8").focusout(function() {
      $("#remainder_8").html("");
        let x = <b>{{ endowment }}</b>;
        var num8 = $("#id_a8").val();
        var y = x - num8;
      $("#remainder_8").html(y);
    });

    $("#id_a9").focusout(function() {
      $("#remainder_9").html("");
        let x = <b>{{ endowment }}</b>;
        var num9 = $("#id_a9").val();
        var y = x - num9;
      $("#remainder_9").html(y);
    });

    $("#id_a10").focusout(function() {
      $("#remainder_10").html("");
        let x = <b>{{ endowment }}</b>;
        var num10 = $("#id_a10").val();
        var y = x - num10;
      $("#remainder_10").html(y);
    });

    $("#id_a11").focusout(function() {
      $("#remainder_11").html("");
        let x = <b>{{ endowment }}</b>;
        var num11 = $("#id_a11").val();
        var y = x - num11;
      $("#remainder_11").html(y);
    });

    </script>
{% endblock %}


