{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Hasil Ronde Latihan
{% endblock %}

{% block content %}
<style>
h4 {text-align: justify;}
p {text-align: justify;}
div {text-align: justify;}
.otree-body {max-width:1200px}
</style>
<p>
    Hasil acakan komputer menunjukkan angka {{ selector }}, artinya payoff Anda pada ronde ini akan
mengikuti pilihan Anda pada pada baris ke-{{ selector }}. Acakan komputer menunjukkan bahwa besarnya probabilitas yang
tidak diketahui dalam contoh ini adalah sebesar {{ unknown_p }}. Acakan kedua menunjukkan multiplier sebesar {{ xG_select }}.
Artinya, payoff Anda pada ronde ini adalah sebesar:
</p>
<br>
<br>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  overflow:hidden;padding:10px 20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Poin alokasi pada A dikali multiplier</th>
    <th class="tg-0lax">{{ a_select }} * {{ xG_select }}</th>
    <th class="tg-0lax">{{ payoff_1_multiplied }} yang akan diterima dalam {{ tG_select }} bulan ke depan.</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-73oq">Sisa poin yang diterima saat ini</td>
    <td class="tg-73oq">{{ Constants.endo }} - {{ a_select }}</td>
    <td class="tg-73oq">{{ payoff_2_leftover }} yang akan diterima saat ini.</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-1wig">Total poin ronde ini:</td>
    <td class="tg-0lax">{{ payoff }}</td>
  </tr>
</tbody>
</table>
<br>
<br>

Ingat bahwa hasil pada ronde ini <b>hanya latihan</b> dan tidak akan mempengaruhi pembayaran yang Anda terima.

<br>
<br>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjutkan ke ronde selanjutnya</button>

{% endblock %}


