{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
        <div class="card-body">
        <h3>
            Instructions
        </h3>
        <p>
        <p>
            Thank you for agreeing to participate in this experiment. Each participant of this experiment is a member of
            a {{ num_players }}-person group, which is randomly formed. No participant knows their group members or which
            group they belong to.

        <p>
            <b>Decisions:</b> The decision you have to make in this experiment is the following: each of you will be
            given {{ endowment }} tokens of which you can keep or invest in a group account. Simultaneously, all other
            members of your group have to make the similar decision. None of you will be able to see the others'
            decision or the total number of tokens invested in the group account.
        <p>
            You have to enter your decision on the sliders in the next screen. After deciding on how many token(s) you
            want to invest in the group account, we will ask you how many tokens do you think there are in
            the group account. Note that this number has to be between 0 to {{ max_contribution }}.
        <p>
            <b>Payoff:</b> The total number of tokens in your group account will be doubled and divided evenly to all members of your
            group. For example, if you decide to invest 12 tokens and the total number of tokens in your group account
            is 60 tokens. Then, at the end of the experiment, you will end up having: (20-12) tokens + (60×2)/5 tokens = 8
            tokens + 24 tokens = 32 tokens.
        <p>
            <b>How you get paid:</b> At the end of the experiment, the tokens you earned from playing the game will be
            exchanged into dollars, with an exchange rate of 4 tokens for $1. Your take-home payment will include: (1)
            participation payment of $3 and (2) the earnings you get from playing the game.
        </p>
        </div>
    </div>

    <br> Press the button only after you understand all the instructions. Ask the experimenter whenever you have anything unclear.
    <br>
    <br>
    {% next_button %}

{% endblock %}
