{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pengambilan Proyek Bersama - Bagian 1 - Ronde {{ subsession.round_number }}
{% endblock %}

{% block content %}

    {% if player.training_round == True %}
        <div class="alert alert-info">
            <strong>Informasi:</strong> Ronde ini adalah <b>ronde latihan</b>. Hasil dari ronde ini <i>tidak</i> akan mempengaruhi pembayaran
            anda. Silakan gunakan waktu ini untuk mempelajari permainan secara seksama.
        </div>
    {% else %}
        <div class="alert alert-warning">
            <strong>Informasi:</strong> Ronde ini adalah <b>permainan riil</b>. Hasil dari ronde ini akan <i>mempengaruhi pembayaran anda</i>!
        </div>
    {% endif %}

    <p>
        Anda memiliki kesempatan untuk mengambil sebagian/seluruh kontribusi total yang telah dikumpulkan.
    </p>
        <tr><td>Kontribusi total:</td><td> {{ group.total_contribution }}</td></tr>

    {% formfield player.amount_embezzled label="Seberapa banyak anda akan <strong>menggelapkan</strong> <strong>proyek</strong> <strong>bersama</strong>  dari 0 sampai dengan kontribusi total?" %}
    <br>Tekan tombol 'lanjut' jika Anda telah yakin pada pilihan Anda.
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}