{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pengambilan Proyek Bersama
{% endblock %}

{% block content %}

    {% if player.training_round == True %}
        <div class="alert alert-info">
            <strong>Informasi:</strong> Ronde ini adalah ronde latihan. Hasil dari ronde ini <b>tidak</b> akan mempengaruhi pembayaran
            anda. Silakan mempelajari instrumen ini secara seksama.
        </div>
    {% else %}
        <div class="alert alert-warning">
            <strong>Informasi:</strong> Ronde ini adalah <b>permainan riil</b>. Hasil dari ronde ini akan mempengaruhi pembayaran anda!
        </div>
    {% endif %}

    <p>
        Anda memiliki kesempatan untuk mengambil sebagian/seluruh kontribusi total yang telah dikumpulkan.
    </p>
        <tr><td>Kontribusi total:</td><td> {{ group.total_contribution }}</td></tr>

    {% formfield player.amount_embezzled label="Seberapa banyak anda akan <strong>menggelapkan</strong> <strong>proyek</strong> <strong>bersama</strong>  dari 0 sampai dengan kontribusi total?" %}
    <br>Tekan tombol 'lanjut' jika Anda telah yakin pada pilihan Anda.
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>
    <br>
    <button class="btn" type="button" onclick="myFunction()">Sembunyikan Instruksi Permainan</button>

        <div id="myDIV">
        {% include Constants.instructions_template %}
        </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}