{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pengantar - Eksperimen Bagian 1
{% endblock %}

{% block content %}
    Selamat datang di bagian pertama dari eksperimen ini. Anda akan memainkan bagian pertama permainan ini sebanyak
    <b>{{ Constants.num_rounds }} ronde</b>. Sebelumnya,
    anda akan mendapatkan kesempatan untuk <i>berlatih</i> sebanyak <b>{{ num_training_rounds }}</b> kali untuk memahami bagaimana
    permainan ini bekerja.
    <br>
    <br>
    Silakan menunggu sejenak. Anda akan segera mendapatkan video terkait instruksi permainan di bagian pertama ini.
    <br>
    <br>

{% endblock %}
