{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Selamat Datang!
{% endblock %}

{% block content %}
    Selamat datang di eksperimen ekonomi dalam pengambilan keputusan.
    <br>
    <br>Mohon untuk memperhatikan ketentuan-ketentuan berikut:
    <br>1. Anda dilarang berkomunikasi dalam bentuk apapun;
    <br>2. Anda dilarang ke kamar kecil selama eksperimen berlangsung;
    <br>3. Anda dimohon untuk tidak membuat kegaduhan selama eksperimen berlangsung;
    <br>4. Apabila ada pertanyaan selama eksperimen berlangsung, Anda dimohon mengacungkan tangan tanpa membuat suara yang tidak perlu,
eksperimenter akan mendatangi Anda.
    <br>5. Anda diminta untuk menyimpan kartu peserta yang Anda terima dengan baik, kartu ini wajib Anda kembalikan untuk menerima pembayaran di akhir eksperimen;
    <br>6. Seluruh data yang dikumpulkan hanya untuk kepentingan penelitian ini semata, eksperimenter menjamin kerahasiaan data Anda.
    <br>7. Anda diharapkan membuat keputusan terbaik menurut anda.

    <br>
    <div align="center">
    <br>Silakan menekan tombol di bawah ketika sudah ada aba-aba dari eksperimenter.
    <br>
    <br><button class="otree-btn-next btn btn-primary next-button otree-next-button">Masuk ke Permainan</button>
    </div>

{% endblock %}
