{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Kuisioner Opini
{% endblock %}

{% block content %}

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  ;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  ;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-5fiw{background-color:#f9f9f9;border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-7btt{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-btxf{background-color:#f9f9f9;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
.debug-info{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
</style>
<table class="tg">
<thead>
  <tr>
    <th>Pernyataan</th>
    <th class="tg-7btt">1 = <br> Sangat Setuju</th>
    <th class="tg-7btt">2 = <br> Setuju </th>
    <th class="tg-7btt">3 = <br> Netral</th>
    <th class="tg-7btt">4 = <br> Tidak Setuju</th>
    <th class="tg-7btt">5 = <br> Sangat Tidak Setuju</th>
    <th class="tg-7btt">6 = <br> Tidak Tahu</th>
  </tr>
</thead>
<tbody>
  {% for field in form %}
     <tr>
        <td>{{ field.label }}</td>
           {% for choice in field %}
              <td class="tg-5fiw">{{ choice }}</td>
           {% endfor %}
     </tr>
  {% endfor %}

</tbody>
</table>

<br>
<br>
    <button id="lanjut" class="otree-btn-next btn btn-primary next-button otree-next-button">Kumpulkan jawaban!</button>

{% endblock %}
