{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h1>Selamat Datang!</h1>
{% endblock %}

{% block content %}
<style>
h1 {text-align: center;}
.otree-body {max-width:1200px}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<img src="{% static "bi_experiment/logo-ugm.png" %}" alt="Snow" style="max-width:100px" class="center">
<br>
<br>

<br>
<button id="lanjut" class="otree-btn-next btn btn-primary next-button otree-next-button">Masuk ke Halaman Instruksi</button>

{% endblock %}
