{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruksi Permainan
{% endblock %}

{% block content %}
<style>
h4 {text-align: justify;}
p {text-align: justify;}
div {text-align: justify;}
.otree-body {max-width:1200px}
</style>

<div class="card bg-light">
    <div class="card-body">
    <p>
        Anda akan menghadapi situasi dimana Anda harus mengalokasikan token yang Anda miliki pada 3 opsi: Opsi A, Opsi B
        dan menyimpan token yang dimiliki. Jika Anda masih memiliki pertanyaan, mohon hubungi eksperimenter. Jika tidak,
        mohon untuk klik tombol <b>Lanjut ke Latihan</b>.
    </p>
    </div>
</div>

<p>
    Anda dapat melanjutkan ke halaman berikutnya setelah <span id="countdown">{{pagehold_timer}}</span> detik.
</p>
<button id="lanjut" disabled="disabled" class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut ke Latihan</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    setTimeout(function() {
        document.getElementById('lanjut').disabled = false;
    }, {{pagehold_timer_ths}});
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);
    </script>
{% endblock %}