{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if subsession.training_round == True %}
    Ronde latihan ke-{{round}}
    {% elif subsession.training_round == False %}
    Ronde riil ke-{{round}}
    {% endif %}
{% endblock %}

{% block content %}

Di dalam ronde {{round}} ini, Anda akan menghadapi kemungkinan bahwa:
<ul>
  <li>Mendapatkan sebesar {{ x1G }} kali lipat G dalam 9 bulan ke depan, atau </li>
  <li>Mendapatkan sebesar {{ x2G }} kali lipat G dalam 4 bulan ke depan.</li>
</ul>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1100px">
<colgroup>
<col style="width: 30px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 300px">
</colgroup>
<thead>
  <tr>
    <th class="tg-0pky" rowspan="2">No.</th>
    <th class="tg-0pky" colspan="2">Opsi G</th>
    <th class="tg-0pky" rowspan="2">Peluang G yang tidak pasti</th>
    <th class="tg-0pky" colspan="2">Opsi B</th>
    <th class="tg-0lax" rowspan="2">Peluang B yang tidak pasti</th>
    <th class="tg-0pky" rowspan="2">Jumlah alokasi Anda di G</th>
    <th class="tg-0pky" rowspan="2">Jumlah alokasi Anda di B</th>
    <th class="tg-0pky" rowspan="2">Uang yang tersisa dari alokasi di G + B:</th>
    <th class="tg-0pky" rowspan="2"></th>
  </tr>
  <tr>
    <td class="tg-0pky">Peluang untuk mendapat {{ x1G }}<br>kali lipat G dalam 9 bulan ke depan</td>
    <td class="tg-0pky">Peluang untuk mendapat {{ x2G }}<br>kali lipat G dalam 4 bulan ke depan</td>
    <td class="tg-0pky">Peluang untuk mendapat {{ x1B }}<br>kali lipat B dalam 12 bulan ke depan</td>
    <td class="tg-0pky">Peluang untuk mendapat {{ x2B }}<br>kali lipat B dalam 1 bulan ke depan</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">80%</td>
    <td class="tg-0pky">0%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">80%</td>
    <td class="tg-0pky">0%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a1 %}</td>
    <td class="tg-0pky">{% formfield player.b1 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_1'></td>
    <td class="tg-0pky" rowspan="9">
      <img src="{% static "bi_experiment/treatment_1.jpg" %}" alt="Snow" style="width:100%"/>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">70%</td>
    <td class="tg-0pky">10%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">70%</td>
    <td class="tg-0pky">10%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a2 %}</td>
    <td class="tg-0pky">{% formfield player.b2 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_2'></td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-0pky">60%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">60%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a3 %}</td>
    <td class="tg-0pky">{% formfield player.b3 %}&nbsp;&nbsp;&nbsp;</td>
    <td class="tg-0pky"><p id='remainder_3'></td>
  </tr>
  <tr>
    <td class="tg-0pky">4</td>
    <td class="tg-0pky">50%</td>
    <td class="tg-0pky">30%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">50%</td>
    <td class="tg-0pky">30%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a4 %}</td>
    <td class="tg-0pky">{% formfield player.b4 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_4'></td>
  </tr>
  <tr>
    <td class="tg-0pky">5</td>
    <td class="tg-0pky">40%</td>
    <td class="tg-0pky">40%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">40%</td>
    <td class="tg-0pky">40%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a5 %}</td>
    <td class="tg-0pky">{% formfield player.b5 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_5'></td>
  </tr>
  <tr>
    <td class="tg-0pky">6</td>
    <td class="tg-0pky">30%</td>
    <td class="tg-0pky">50%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">30%</td>
    <td class="tg-0pky">50%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a6 %}</td>
    <td class="tg-0pky">{% formfield player.b6 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_6'></td>
  </tr>
  <tr>
    <td class="tg-0pky">7</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">60%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">60%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a7 %}</td>
    <td class="tg-0pky">{% formfield player.b7 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_7'></td>
  </tr>
  <tr>
    <td class="tg-0pky">8</td>
    <td class="tg-0pky">10%</td>
    <td class="tg-0pky">70%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">10%</td>
    <td class="tg-0pky">70%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a8 %}</td>
    <td class="tg-0pky">{% formfield player.b8 %}&nbsp;&nbsp;&nbsp;<br></td>
    <td class="tg-0pky"><p id='remainder_8'></td>
  </tr>
  <tr>
    <td class="tg-0pky">9</td>
    <td class="tg-0pky">0%</td>
    <td class="tg-0pky">80%</td>
    <td class="tg-0pky">20%</td>
    <td class="tg-0pky">0%</td>
    <td class="tg-0pky">80%</td>
    <td class="tg-0lax">20%</td>
    <td class="tg-0pky">{% formfield player.a9 %}</td>
    <td class="tg-0pky">{% formfield player.b9 %}&nbsp;&nbsp;&nbsp;</td>
    <td class="tg-0pky"><p id='remainder_9'></td>
  </tr>
</tbody>
</table>


<br>
<br>
Tekan tombol berikut jika sudah yakin dengan jawaban Anda. Setelah Anda menekan tombol "Lanjut ke halaman berikutnya", Anda
tidak dapat mengubah pilihan Anda pada ronde ini.
<br>
<br>

<p>
  Anda dapat melanjutkan ke halaman berikutnya setelah <span id="countdown">5</span> detik. Sembari menunggu, pastikan
  kembali keputusan Anda benar-benar sesuai dengan keinginan Anda.
</p>
<button id="lanjut" disabled="disabled" class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut ke halaman berikutnya</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    setTimeout(function() {
        document.getElementById('lanjut').disabled = false;
    }, 5000);
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);

    $("#id_a1").focusout(function() {
      $("#remainder_1").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a1").val();
        var num2 = $("#id_b1").val();
        var y = x - num1 - num2;
      $("#remainder_1").html(y);
    });

    $("#id_a2").focusout(function() {
      $("#remainder_2").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a2").val();
        var num2 = $("#id_b2").val();
        var y = x - num1 - num2;
      $("#remainder_2").html(y);
    });

    $("#id_a3").focusout(function() {
      $("#remainder_3").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a3").val();
        var num2 = $("#id_b3").val();
        var y = x - num1 - num2;
      $("#remainder_3").html(y);
    });

    $("#id_a4").focusout(function() {
      $("#remainder_4").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a4").val();
        var num2 = $("#id_b4").val();
        var y = x - num1 - num2;
      $("#remainder_4").html(y);
    });

    $("#id_a5").focusout(function() {
      $("#remainder_5").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a5").val();
        var num2 = $("#id_b5").val();
        var y = x - num1 - num2;
      $("#remainder_5").html(y);
    });

    $("#id_a6").focusout(function() {
      $("#remainder_6").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a6").val();
        var num2 = $("#id_b6").val();
        var y = x - num1 - num2;
      $("#remainder_6").html(y);
    });

    $("#id_a7").focusout(function() {
      $("#remainder_7").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a7").val();
        var num2 = $("#id_b7").val();
        var y = x - num1 - num2;
      $("#remainder_7").html(y);
    });

    $("#id_a8").focusout(function() {
      $("#remainder_8").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a8").val();
        var num2 = $("#id_b8").val();
        var y = x - num1 - num2;
      $("#remainder_8").html(y);
    });

    $("#id_a9").focusout(function() {
      $("#remainder_9").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a9").val();
        var num2 = $("#id_b9").val();
        var y = x - num1 - num2;
      $("#remainder_9").html(y);
    });

    $("#id_b1").focusout(function() {
      $("#remainder_1").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a1").val();
        var num2 = $("#id_b1").val();
        var y = x - num1 - num2;
      $("#remainder_1").html(y);
    });

    $("#id_b2").focusout(function() {
      $("#remainder_2").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a2").val();
        var num2 = $("#id_b2").val();
        var y = x - num1 - num2;
      $("#remainder_2").html(y);
    });

    $("#id_b3").focusout(function() {
      $("#remainder_3").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a3").val();
        var num2 = $("#id_b3").val();
        var y = x - num1 - num2;
      $("#remainder_3").html(y);
    });

    $("#id_b4").focusout(function() {
      $("#remainder_4").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a4").val();
        var num2 = $("#id_b4").val();
        var y = x - num1 - num2;
      $("#remainder_4").html(y);
    });

    $("#id_b5").focusout(function() {
      $("#remainder_5").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a5").val();
        var num2 = $("#id_b5").val();
        var y = x - num1 - num2;
      $("#remainder_5").html(y);
    });

    $("#id_b6").focusout(function() {
      $("#remainder_6").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a6").val();
        var num2 = $("#id_b6").val();
        var y = x - num1 - num2;
      $("#remainder_6").html(y);
    });

    $("#id_b7").focusout(function() {
      $("#remainder_7").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a7").val();
        var num2 = $("#id_b7").val();
        var y = x - num1 - num2;
      $("#remainder_7").html(y);
    });

    $("#id_b8").focusout(function() {
      $("#remainder_8").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a8").val();
        var num2 = $("#id_b8").val();
        var y = x - num1 - num2;
      $("#remainder_8").html(y);
    });

    $("#id_b9").focusout(function() {
      $("#remainder_9").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a9").val();
        var num2 = $("#id_b9").val();
        var y = x - num1 - num2;
      $("#remainder_9").html(y);
    });

    </script>
{% endblock %}