{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if subsession.training_round == True %}
    Ronde latihan ke-{{round}}
    {% elif subsession.training_round == False %}
    Ronde riil ke-{{round}}
    {% endif %}
{% endblock %}

{% block content %}

Anda memiliki {{ endowment }} token yang dapat Anda alokasikan untuk mendapatkan Opsi A, Opsi B, atau tetap menyimpannya.
Jika Anda mengalokasikan token ke Opsi A, maka Anda akan memiliki peluang untuk mendapatkan imbalan sebesar {{x1G}}
kali lipat atau {{x2G}} kali lipat dari jumlah token yang Anda alokasikan ke Opsi A. Kedua imbalan tersebut akan Anda
dapatkan pada {{t1G}} bulan dan {{t2G}} bulan kemudian. Jika Anda mengalokasikan token ke Opsi B, maka Anda akan memiliki
peluang untuk mendapatkan imbalan sebesar {{x1B}} kali lipat atau {{x2B}} kali lipat dari jumlah token yang Anda alokasikan
ke Opsi B. Kedua imbalan tersebut akan Anda dapatkan pada {{t1G}} bulan dan {{t2G}} bulan kemudian. Jika Anda memilih untuk
menyimpan token Anda, maka token tersebut akan ditukarkan dengan uang secara langsung hari ini.

<br>
<br>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1286px">
<colgroup>
<col style="width: 33px">
<col style="width: 230px">
<col style="width: 69px">
<col style="width: 101px">
<col style="width: 236px">
<col style="width: 66px">
<col style="width: 101px">
<col style="width: 100px">
<col style="width: 350px">
</colgroup>
<thead>
  <tr>
    <th class="tg-0lax">No.</th>
    <th class="tg-0lax">Opsi A</th>
    <th class="tg-0lax">Probabilitas A yang tidak diketahui</th>
    <th class="tg-0lax">Alokasi di Opsi A</th>
    <th class="tg-0lax">Opsi B</th>
    <th class="tg-0lax">Probabilitas B yang tidak diketahui</th>
    <th class="tg-0lax">Alokasi di Opsi B</th>
    <th class="tg-0lax">Menyimpan Token</th>
    <th class="tg-0lax" rowspan="10">
      <img src="{% static "bi_experiment/treatment_1.jpg" %}" alt="Snow" style="width:100%"/>
    </th>
  </tr>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.8 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a1 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.8 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b1 %}<br></td>
    <td class="tg-0lax"><p id='remainder_1'></p></td>
  </tr>
  <tr>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.7 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.1 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a2 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.7 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.1 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b2 %}<br></td>
    <td class="tg-0lax"><p id='remainder_2'></p></td>
  </tr>
    <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.6 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.2 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a3 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.6 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.2 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b3 %}<br></td>
    <td class="tg-0lax"><p id='remainder_3'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">4</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.5 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.3 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a4 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.5 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.3 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b4 %}<br></td>
    <td class="tg-0lax"><p id='remainder_4'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">5</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.4 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.4 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a5 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.4 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.4 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b5 %}<br></td>
    <td class="tg-0lax"><p id='remainder_5'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.3 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.5 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a6 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.3 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.5 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b6 %}<br></td>
    <td class="tg-0lax"><p id='remainder_6'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">7</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.2 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.6 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a7 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.2 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.6 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b7 %}<br></td>
    <td class="tg-0lax"><p id='remainder_7'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">8</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.1 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.7 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a8 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0.1 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.7 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b8 %}<br></td>
    <td class="tg-0lax"><p id='remainder_8'></p></td>
  </tr>
  </tr>
    <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0 untuk mendapat {{ x1G }} kali lipat dari alokasi di Opsi A pada
      {{t1G}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.8 untuk mendapat {{x2G}} kali lipat dari alokasi di Opsi A pada {{t2G}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.a9 %}</td>
    <td class="tg-0lax">Setidaknya memiliki peluang 0 untuk mendapat {{ x1B }} kali lipat dari alokasi di Opsi B pada
      {{t1B}} bulan ke depan; <br>
      Setidaknya memiliki peluang 0.8 untuk mendapat {{x2B}} kali lipat dari alokasi di Opsi B pada {{t2B}} bulan ke depan
    </td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">{% formfield player.b9 %}<br></td>
    <td class="tg-0lax"><p id='remainder_9'></p></td>
  </tr>
</thead>
</table>


<br>
<br>
Tekan tombol berikut jika sudah yakin dengan jawaban Anda. Setelah Anda menekan tombol "Lanjut ke halaman berikutnya", Anda
tidak dapat mengubah pilihan Anda pada ronde ini.
<br>
<br>

<p>
  Anda dapat melanjutkan ke halaman berikutnya setelah <span id="countdown">5</span> detik. Sembari menunggu, pastikan
  kembali keputusan Anda benar-benar sesuai dengan keinginan Anda.
</p>
<button id="lanjut" disabled="disabled" class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut ke halaman berikutnya</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    setTimeout(function() {
        document.getElementById('lanjut').disabled = false;
    }, 5000);
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);

    $("#id_a1").focusout(function() {
      $("#remainder_1").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a1").val();
        var num2 = $("#id_b1").val();
        var y = x - num1 - num2;
      $("#remainder_1").html(y);
    });

    $("#id_a2").focusout(function() {
      $("#remainder_2").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a2").val();
        var num2 = $("#id_b2").val();
        var y = x - num1 - num2;
      $("#remainder_2").html(y);
    });

    $("#id_a3").focusout(function() {
      $("#remainder_3").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a3").val();
        var num2 = $("#id_b3").val();
        var y = x - num1 - num2;
      $("#remainder_3").html(y);
    });

    $("#id_a4").focusout(function() {
      $("#remainder_4").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a4").val();
        var num2 = $("#id_b4").val();
        var y = x - num1 - num2;
      $("#remainder_4").html(y);
    });

    $("#id_a5").focusout(function() {
      $("#remainder_5").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a5").val();
        var num2 = $("#id_b5").val();
        var y = x - num1 - num2;
      $("#remainder_5").html(y);
    });

    $("#id_a6").focusout(function() {
      $("#remainder_6").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a6").val();
        var num2 = $("#id_b6").val();
        var y = x - num1 - num2;
      $("#remainder_6").html(y);
    });

    $("#id_a7").focusout(function() {
      $("#remainder_7").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a7").val();
        var num2 = $("#id_b7").val();
        var y = x - num1 - num2;
      $("#remainder_7").html(y);
    });

    $("#id_a8").focusout(function() {
      $("#remainder_8").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a8").val();
        var num2 = $("#id_b8").val();
        var y = x - num1 - num2;
      $("#remainder_8").html(y);
    });

    $("#id_a9").focusout(function() {
      $("#remainder_9").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a9").val();
        var num2 = $("#id_b9").val();
        var y = x - num1 - num2;
      $("#remainder_9").html(y);
    });

    $("#id_b1").focusout(function() {
      $("#remainder_1").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a1").val();
        var num2 = $("#id_b1").val();
        var y = x - num1 - num2;
      $("#remainder_1").html(y);
    });

    $("#id_b2").focusout(function() {
      $("#remainder_2").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a2").val();
        var num2 = $("#id_b2").val();
        var y = x - num1 - num2;
      $("#remainder_2").html(y);
    });

    $("#id_b3").focusout(function() {
      $("#remainder_3").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a3").val();
        var num2 = $("#id_b3").val();
        var y = x - num1 - num2;
      $("#remainder_3").html(y);
    });

    $("#id_b4").focusout(function() {
      $("#remainder_4").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a4").val();
        var num2 = $("#id_b4").val();
        var y = x - num1 - num2;
      $("#remainder_4").html(y);
    });

    $("#id_b5").focusout(function() {
      $("#remainder_5").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a5").val();
        var num2 = $("#id_b5").val();
        var y = x - num1 - num2;
      $("#remainder_5").html(y);
    });

    $("#id_b6").focusout(function() {
      $("#remainder_6").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a6").val();
        var num2 = $("#id_b6").val();
        var y = x - num1 - num2;
      $("#remainder_6").html(y);
    });

    $("#id_b7").focusout(function() {
      $("#remainder_7").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a7").val();
        var num2 = $("#id_b7").val();
        var y = x - num1 - num2;
      $("#remainder_7").html(y);
    });

    $("#id_b8").focusout(function() {
      $("#remainder_8").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a8").val();
        var num2 = $("#id_b8").val();
        var y = x - num1 - num2;
      $("#remainder_8").html(y);
    });

    $("#id_b9").focusout(function() {
      $("#remainder_9").html("");
        let x = {{ player.endowment|json }};
        var num1 = $("#id_a9").val();
        var num2 = $("#id_b9").val();
        var y = x - num1 - num2;
      $("#remainder_9").html(y);
    });

    </script>
{% endblock %}