{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="alert alert-warning">
    <div align="center"><b>PERHATIAN:</b></div>
        <br>
            Anda sudah menyelesaikan sesi latihan dari permainan ini. Berikutnya, Anda akan memainkan ronde riil yang dapat mempengaruhi
            insentif yang Anda terima. Hasil dari pilihan Anda akan ditampilkan seluruhnya setelah seluruh sesi usai.
        <br>
        <br>
            Tekan tombol 'Mulai Ronde Riil' untuk memulai ronde berikutnya.
    </div>

<button id="lanjut" class="otree-btn-next btn btn-primary next-button otree-next-button">Mulai Ronde Riil</button>

{% endblock %}