{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Kuisioner Pascastudi
{% endblock %}

{% block content %}

    <div align="center">
        <div style="border:4px solid #f2f2f2; width:100px; height:100px text-align:center;padding:0">
            <p id="dice2" style="font-size:300%">??</p>
            <p id="dice" style="font-size:300%">??</p>
        </div>
        <br>
        <button id="roll" onclick="AniDice()" type="button">Mulai Mengacak!</button>
        <br>
        <button id="stop" onclick="stopDice()" type="button" style="visibility:hidden">Berhenti</button>
    </div>

    <input type="hidden" name="rand_selector" id="var" value="">

    <button id="next" class="otree-btn-next btn btn-primary next-button otree-next-button" style="visibility:hidden">Lanjutkan ke Hasil</button>


{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function AniDice(){
            document.getElementById("roll").style.visibility = "hidden";
            document.getElementById("stop").style.visibility = "visible";
            MyVar=setInterval(rolldice,20);
        }

        function rolldice(){
            var alphabet = "AB";
            var ranNum = Math.floor( 1 + Math.random() * {{rand_range}} );
            var ranLet = alphabet[Math.floor(Math.random() * alphabet.length)];
            document.getElementById("dice").innerHTML = ranNum;
            document.getElementById("dice2").innerHTML = ranLet;
            document.getElementById("var").value = ranLet + ranNum;
        }

        function stopDice(){
            document.getElementById("next").style.visibility = "visible";
            clearInterval(MyVar);
        }

    </script>

{% endblock %}