{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Kuisioner Pascastudi
{% endblock %}

{% block content %}

    Hasil game A1 dan B1 sudah langsung dihitung ke total poin Anda. Silakan mainkan instrumen di bawah
    untuk menentukan sisa 50% dari total poin Anda dari game A2 atau B2. Semua ronde punya peluang yang sama untuk terpilih.
    <br>
    <br>
    <div class="card bg-light text-dark">
    <div class="card-body">
    <div align="center">

            <tr><td><img width="60" height="46" src="{% static "dice.png" %}"/></td><td>Game:  </td><td><b>
                <text id="dice2" style="font-size:300%">???</text></b></td><td>   Round:  </td>
            <td><b><text id="dice" style="font-size:300%">???</text></b></td></tr><td><img width="60" height="46" src="{% static "dice.png" %}"/></td>

        <br>
        <button id="roll" onclick="AniDice()" type="button">Mulai Mengacak!</button>
        <button id="stop" onclick="stopDice()" type="button">Hentikan!</button>
    </div>

    <input type="hidden" name="rand_selector" id="var" value="">
    </div>
    </div>
    <br>
    <p id="result0" style="visibility:hidden">Anda akan menerima poin dari hasil di game dan nomor ronde di atas.</p>
    <br>
    <button id="next" class="otree-btn-next btn btn-primary next-button otree-next-button" style="visibility:hidden">Lanjutkan ke Hasil</button>



{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function AniDice(){
            document.getElementById("roll").disabled = true;
            document.getElementById("stop").disabled = false;
            MyVar=setInterval(rolldice,20);
        }

        function rolldice(){
            var ranArray = ['A2', 'B2'];
            var ranNum = Math.floor( 1 + Math.random() * {{rand_range}} );
            var ranLet = ranArray[Math.floor(Math.random() * ranArray.length)];
            document.getElementById("dice").innerHTML = ranNum;
            document.getElementById("dice2").innerHTML = ranLet;
            document.getElementById("var").value = ranLet.charAt(0) + ranNum;
        }

        function stopDice(){
            document.getElementById("next").style.visibility = "visible";
            document.getElementById("result0").style.visibility = "visible";
            clearInterval(MyVar);
        }

    </script>

{% endblock %}