{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Terima Kasih!
{% endblock %}

{% block content %}

    <br>Terima kasih atas partisipasi Anda dalam eksperimen ini.
    <br>
    <br>Sesuai prosedur eksperimen, poin yang Anda terima adalah berupa 25% dari hasil A1, 25% dari hasil B1 dan 50% dari hasil
    acakan salah satu ronde dari A2 atau B2.
    <br>
    <br>
    Dari hasil acakan laman sebelumnya, 50% poin Anda adalah dari game {{payoff_game}} ronde {{payoff_round}}.
    Berikut adalah rinciannya:
    <br>
    <br>
    <table>
        <tr><th>Rincian</th><th>Poin</th></tr>
        <tr><td>Poin A1 (25% dari {{player.points_A1}}):</td><td>{{ points_a1 }}</td></tr>
        <tr><td>Poin B1 (25% dari {{player.points_B1}}):</td><td>{{ points_b1 }}</td></tr>
        <tr><td><i>HASIL ACAK</i>: Game {{payoff_game}} Ronde {{payoff_round}} (50% dari {{player.points_rand}}):</td><td>{{ points_rand }}</td></tr>
        <tr><td>Total Poin</td><td><b><font size="5">{{points_total}}</font></b></td></tr>
    </table>

    <hr width="100%">
    <font size="5">Anda berhak menerima total pembayaran sebesar ({{points_total}} x Rp{{currency}}) + {{showup}} = <b>{{ total_earnings }}.</b></font>
    <hr width="100%">

    CATATAN: Jumlah di atas sudah termasuk uang kehadiran Anda.
    <br>
    Anda dipersilakan meninggalkan ruangan dan menuju kasir di luar ruangan untuk pembayaran.
    Jangan lupa untuk mengembalikan kartu peserta Anda. <b>Anda tidak berhak menerima pembayaran tanpa pengembalian kartu peserta!</b>
    <br>
    <br>Jikalau ada pertanyaan terkait eksperimen ini, silakan diajukan ke <b>putu.arya.w@ugm.ac.id</b>.
    <br>
    <br>
    <div align="center"><b>Tabel hasil permainan Anda dari seluruh ronde:</b></div>
    <br>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #fff4be;
            color: black;
        }
    </style>
    <table>
             <tr>
                <th>Kode </th>
                <th>Ronde</th>
                <th>Poin Ronde Ini</th>
             </tr>
    {% for i in payoff_matrix %}
             <tr>
                 <td>{{ i.3 }}</td>
                 <td>{{ i.4 }}</td>
                 <td>{{ i.0 }}</td>
             </tr>
    {% endfor %}
    </table>

{% endblock %}